@model IEnumerable<PetHome.Models.Perro>

@{
    ViewBag.Title = "ListaPDFPerros";
}

<h2>Listado de Perros</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_perro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.raza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estadoSalud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lugarRescate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.interesado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_perro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.raza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estadoSalud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lugarRescate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.interesado)
        </td>
    </tr>
}

</table>
