@model IEnumerable<PetHome.Models.Interesado>

@{
    ViewBag.Title = "ListaPDFInteresados";
}

<h2>Listado de Interesados</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_Interesado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNI_Interesado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_Interesado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad_Interesado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celular_Interesado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.domicilio_Interesado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_Interesado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_perro_Interesado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_Interesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI_Interesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_Interesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edad_Interesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celular_Interesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.domicilio_Interesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo_Interesado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_perro_Interesado)
            </td>
        </tr>
    }

</table>
