@model IEnumerable<PetHome.Models.Perro>

@{
    ViewBag.Title = "ListadoPerros";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="h1 mb-2 font-weight-normal">Listado de Perros</h1>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("¿Estás interesado en adoptar?", "Crear_Interesados", null, new { @Class = "btn btn-outline-primary" })
    <a href="https://localhost:44334/Registros/PrintPerros" class="btn btn-danger"> Generar PDF</a>
</div>
<div class="container">
    <table id="table" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id_perro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.raza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estadoSalud)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lugarRescate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.interesado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_perro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.raza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estadoSalud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lugarRescate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.interesado)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
